.gradle/
.idea/
AGENTS.md
agents
local.properties
build/
app/build/
app/release/
*.iml
RELEASE*
gradle/*
!gradle/wrapper/
gradle/wrapper/dists/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
